.page__header--fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.page__header--fixed::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 3;
}