.promo__title {
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: 0.5em;
    padding-top: 3em;
    text-transform: uppercase;
    font-weight: var(--font-title);
}

@media (max-width: 768px) {
    .promo__title {
        padding-top: 1em;
    }
}